@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base overrides */
body {
  @apply m-0 font-sans antialiased text-gray-800 bg-gray-50 dark:bg-gray-950 dark:text-gray-100;
}
/* Slight global font size bump */
html { font-size: 17px; }
code {
  @apply font-mono text-sm bg-gray-100 dark:bg-gray-800 px-1 py-0.5 rounded;
}
